[Unit]
Description=InfoQ Admin Backend
After=network.target
Wants=network.target

[Service]
Type=simple
User=infoq
Group=infoq
WorkingDirectory=/infoq/server/app
Environment="SPRING_PROFILES_ACTIVE=prod"
Environment="SPRING_CONFIG_ADDITIONAL_LOCATION=file:/infoq/server/config/"
ExecStart=/usr/bin/java -Djava.security.egd=file:/dev/./urandom -Dserver.port=9090 -XX:+HeapDumpOnOutOfMemoryError -Xms512m -Xmx1024m -jar /infoq/server/app/infoq-admin.jar
SuccessExitStatus=143
Restart=always
RestartSec=5
LimitNOFILE=65535
StandardOutput=append:/infoq/server/logs/console.log
StandardError=append:/infoq/server/logs/console.log

[Install]
WantedBy=multi-user.target
